*.mp4 filter=lfs diff=lfs merge=lfs -text
people.html filter=lfs diff=lfs merge=lfs -text
css.css filter=lfs diff=lfs merge=lfs -text
distinctions.html filter=lfs diff=lfs merge=lfs -text
videos.html filter=lfs diff=lfs merge=lfs -text
css3.css filter=lfs diff=lfs merge=lfs -text
css4.css filter=lfs diff=lfs merge=lfs -text
index.html filter=lfs diff=lfs merge=lfs -text
award1.png filter=lfs diff=lfs merge=lfs -text
css5.css filter=lfs diff=lfs merge=lfs -text
description.html filter=lfs diff=lfs merge=lfs -text
events.html filter=lfs diff=lfs merge=lfs -text
media.html filter=lfs diff=lfs merge=lfs -text
publications.html filter=lfs diff=lfs merge=lfs -text
videos1.mp4 filter=lfs diff=lfs merge=lfs -text
css1.css filter=lfs diff=lfs merge=lfs -text
css2.css filter=lfs diff=lfs merge=lfs -text
award2.png filter=lfs diff=lfs merge=lfs -text
videos.css filter=lfs diff=lfs merge=lfs -text
